HOST=
KLIPPER_BAUDRATE=
KLIPPER_SERIAL=
KLIPPER_WEBCAM=
LLAMA_SERVER_API_URL=
NETSEC_MODE=
NETSEC_SUBNET=
NVIDIA_API_KEY=
NVIDIA_MODEL=
OLLAMA_API_URL=
SENTINEL_MESH_TOKEN=
SENTINEL_ROLE=
VOICE_ALEXA_BRIDGE=
VOICE_TTS_MODEL=
VOICE_WAKE_WORD=